<!DOCTYPE html>
<html>
   <head>
    <title>
        Random Forest Classfier For diabetics Patients
    </title>
   </head>
   <body>
    <form method="POST">
        <input type="text" name="Pregnancies" placeholder="Enter Pregnancies Here"/><br>
        <input type="text" name="Glucose" placeholder="Enter Glucose Here"/><br>
        <input type="text" name="BloodPressure" placeholder="Enter BloodPressure Here"/><br>
        <input type="text" name="SkinThickness" placeholder="Enter SkinThickness Here"/><br>
        <input type="text" name="Insulin" placeholder="Enter Insulin Here"/><br>
        <input type="text" name="DiabetesPedigreeFunction" placeholder="Enter DiabetesPedigreeFunction Here"/><br>
        <input type="text" name="Age" placeholder="Enter Age Here"/><br>
    
        
        <input type="submit" value ="submit"/>
    </form>
    <p>
    
        {{pridiction}}

    </p>

   </body>



</html>